*{
    margin: 0;
    padding: 0;
}

$mainColor: #F16D7F;

.text_style{
    font-family: Lato;
    font-weight: 300;
    line-height: 120%;
    text-align: center;
}

.dfjcc{
    display: flex;
    justify-content: center;
}

.dfjcsb{
    display: flex;
    justify-content: space-between;
}

.dfdc{
    display: flex;
    flex-direction: column;
}

.elch{
    transition: all 0.5s;
}


.container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


.menu_item{
    background: black;
}

.main_image_item{
    background: #F1E4E6;
}

.menu_element{
    @extend .elch;
}

.sn{
    @extend .elch;
}

.all_product_button{
    @extend .elch;
}

.aaa, .join_now_a{
    text-decoration: none;
}

.menu_element:hover, .sn:hover, .aaa:hover, .join_now_button:hover, .all_product_button:hover, .card:hover, .for_whom_card:hover{
    transform: scale(1.1,1.1);
}

.card, .for_whom_card{
    @extend .elch;
}


.join_now_button{
    padding: 15px;
    background: #F16D7F;
    color: white;
    width: 167px;
    @extend .elch;
}


.subscribe1{
    width: 100%;
    position: relative;
    @extend .dfjcc;
}

.breadcrumb_section{
    @extend .dfjcsb;
    padding-top: 65px;
    padding-bottom: 65px;
}

.breadcrumb_item{
    background: #F8F3F4;
}

.male-female{
    display: flex;
    margin-top: 31px;
    align-items: center;
}

.loyalty_perks_section{
    @extend .dfdc;
    align-items: flex-start;
}

.product_description_section{
    text-align: center;
    padding: 65px 250px;
}
    
.registration_middle_section{
    display: flex;
    padding-top: 65px;
    padding-bottom: 96px;
}

.input_section, .loyalty_perks_section{
    flex:1;

    @extend .dfdc;

}

.input_section{
    margin-right: 130px;
}

.catalog_section{
    padding-bottom: 96px;
    @extend .dfdc;
    align-items: center;
    padding-top: 50px;
}

.pagination_section{
    margin-top:48px;
}

.filter_section{
    @extend .dfjcc;
    position: relative;
}

.big_menu:hover{
    opacity: 1;
}

.contacts_section{
    @extend .dfjcsb;

    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;
}

.contact_item{
    background: black;
}
    
.all_right_section{
    @extend .text_style;
    font-size: 16px;
    color: #FBFBFB;

}

.margin_block{
    margin-right: 30px;
}

.lorem_block{
    @extend .dfdc;
    align-items: center;
}

.menu_section{
    background-color: black;
    @extend .dfjcsb;

    align-items: center;
    height: 75px;
}

.left_menu_section,.right_menu_section{
    display: flex;
}

.main_image_section{
    background-color:#F1E4E6;
    display: flex;
    height: 100%;   
}

.middle_section{
    background-color: white;
}

.for_whom_section{
    padding-top: 65px;

    @extend .dfjcsb;
}
    
.card_header{
    @extend .text_style;
    font-size: 13px;
    
    margin-top: 25px;
    margin-bottom: 13px;
    color: #000000;
}
.featured_items_section{
    padding-top: 96px;
}
.big_menu{
    background: white;
    height: 100%;
    padding-bottom:150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 37px;
    opacity: 0;
    position: relative;
}

.advantages_block{
    height: 100px;
    width: 360px;
    text-align: center;
}

.accessories{
    margin-top: 30px;
    @extend .dfjcsb;
}

.advantages_section{
    padding-top: 104px;

    @extend .dfjcsb;

    padding-bottom: 104px;
}

.advantages_item{
    background-color:#222224;
}

.subscribe_section{

    @extend .dfjcsb;

    padding-top: 87px;
    align-items: center;

}

.subscribe_item{
    background: url(images/subscribe_background.svg);
    padding-bottom: 130px;
}

.subscribe_block{
    @extend .dfdc;
    align-items: center;
}

.email_window_frame{
    display: flex;
    padding-top: 30px;
}

.email_input_form{
    display: flex;
    height: 50px;
}

.email_input{
    border-radius:25% 0 0 25%;
    border: none;
    @extend .text_style;

    padding: 7px;
}

.email_input_button{
    background: $mainColor;
    border: none;
    @extend .text_style;

    color : white;

    border-radius:0 25% 25% 0;

    padding: 7px;
}

.for_whom_image{
    filter: brightness(20%);
    z-index: 0;
}
.lorem_photo{
    width: 96px;
}



.arrow{
    width: 47px;
    height: 47px;
}

.sn:hover{
    filter: brightness(20%)
}


.logo{
    margin-right: 41px;
}

.poisk{
    margin-top: 8px;
}

.drop_down{
    margin-top: 5px;
}

.drop_down,.account{
    margin-right: 33px;
}

.krestik{
    position: absolute;
    top: 16px;
    right: 16px;
}

.galochka{
    margin-right: 10px;
}

.arrow_rigth{
    height: 25px;
    margin-left: 15px;
}

.advantages_heading{
    padding-top: 20px;

    @extend .text_style;
    font-size: 20px;
    
    
    color: #FBFBFB;
}

.advantages_text{
    padding-top: 16px;

    @extend .dfjcc;
    font-size: 14px;
    color: #FBFBFB;
}

.input_place{
    margin-top: 20px;

    @extend .text_style;
    color: #B1B1B1;
    font-size: 13px;
}

.password_requriements{
    margin-top: 15px;

    @extend .text_style;
    color: #B1B1B1;
    font-size: 13px;
}

.name_input_heading{

    @extend .text_style;
    color: #222222;
    font-size: 16px;

}

.select{
    @extend .text_style;
    font-size: 14px;
    color: #6F6E6E;
}

.loyalty_heading{
    @extend .text_style;
    font-size: 24px;

}

.loyalty_paragraph{
    @extend .text_style;
    font-size: 24px;
}

.new_arrivals{
    @extend .text_style;
    font-size: 24px;
    color: $mainColor;
}

.breadcrumb-item{
    @extend .text_style;
    font-size: 14px;
    color: #636363;   
}

.active_breadcrumb{
    @extend .text_style;
    color: $mainColor;
}

.collection_heading{
    @extend .text_style;
    font-size: 14px;
    color: $mainColor;
}

.name_of_product{
    @extend .text_style;
    font-size: 18px;
    color: #4D4D4D;

    margin-top: 27px;
}

.description_text{
    @extend .text_style;
    font-size: 14px;
    color: #5E5E5E;

    margin-top: 48px;
}

.product_price{
    @extend .text_style;
    font-size: 24px;
    color: $mainColor;

    margin-top: 32px;
}

.subscribe_heading1{

    @extend .text_style;
    font-size: 24px;
    color: #222224;

}
.subscribe_heading2{
    @extend .text_style;
    font-size: 24px;
    color: #222224;
}

.lorem_text{

    padding-top: 30px;
    width: 360px;

    @extend .text_style;
    color: black;
}
.subscribe_text{
    position: absolute;
    left: 10px;

    @extend .text_style;
    color: white;
}
.main_image_text{
    @extend .text_style;
    font-size: 32px;
    font-weight: 900;

    color: #222222;

    display: flex;

    height: 92px;
    padding-top: 300px;
    padding-right: 200px;
}
.for_whom_heading{
    @extend .text_style;

    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
.first_for_whom_heading{
    @extend .text_style;
    font-size: 16px;
    color: white;
}
.second_for_whom_heading{
    @extend .text_style;
    font-size: 16px;
    color:$mainColor;
}
.featured_items_header{

    @extend .text_style;
    font-size: 30px;
    color: #222222;
}
.featured_items_paragraph{

    @extend .text_style;
    font-size: 14px;
    color: #9F9F9F;
}

.card_paragraph{
    @extend .text_style;
    font-size: 14px;
    color: #5D5D5D;
}
.card_price{
    @extend .text_style;
    color: $mainColor;
    font-size: 16px;
    
    margin-top: 18px;
}
.button_text{
    @extend .text_style;
    font-size: 16px;
    color: $mainColor;
}

.loyalty_ol{
    list-style: none;
}
.first_li{
    @extend .text_style;
    font-size: 14px;
    color:$mainColor;

    list-style: none;
}

.second_li{
    @extend .text_style;
    font-size: 14px;
    padding-left: 15px;
    
    color: #6F6E6E;
    list-style: none;
}

.loyalty_li{
    @extend .text_style;
    font-size: 24px;
}

.for_women, .for_men{
    margin-right: 30px;

}

.for_whom_card{
    @extend .dfjcc;
    align-items: center;
    position: relative;
}

.cards{
    margin-top: 30px;
    @extend .dfjcsb;
}

.margin_card{
    margin-right: 30px;
}


.card{
    flex: 1;
    background: #F8F8F8;
    width: 360px;
}

.all_product_button:hover{
    background: $mainColor;
}
.all_product_button{
    @extend .dfjcc;
    align-items: center;

    margin: 48px auto 95px;
    padding: 14px 39px;
    border: 1px solid $mainColor;
    width: 210px;

    color: $mainColor;

}

.big_product{
    @extend .dfjcsb;
    align-items: center;
}

.big_product_item{
    background: #F7F7F7;
}


.product_selection{
    @extend .dfjcc;
}

.selector{
    display: flex;
    padding: 11px;
}

.filter_section_element{
    padding: 14px;
}

.male, .female{
    display: flex;
}

.login_mod{
    margin-top: 30px;
}

.cart_middle{
    @extend .dfjcsb;
}

.button_b{
    @extend .dfjcsb;
}

.clear_cart_button, .continue_shopping_button{
    border: 1px solid black;
}

.shopping_adress{
    display: flex;
    justify-content: center;
    flex-direction: column;
}